
<div class="container">
    <div class="row">
        <div class="col-12" >
            <div class="card mb-4" *ngFor="let user of  userInfoArr">
                <div class="card-header">
                    <h3>
                        {{user.name}}
                    </h3>
                </div>
                <div class="card-body">
                    <h5>
                       Post List
                       <ul class="list-group">
                        <li class="list-group-item" *ngFor="let use of user.postArr ">
                            {{use.title}}
                        </li>
                       </ul>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>